Olá <%= @user.email %>,

<h1>Seja bem vindo !</h1>

<p> Agora você faz parte do Instagram Clone do Bruce.</p>

<p> Divirta-se. E lembre-se: o aplicativo está em constante desenvolvimento.</p>
<p> Use por sua conta e risco.</p>


<p> Atenciosamente </p>
<p> Bruce Fletcher, CEO deste aplicativo </P>
